<%= @bet.description %>

<h>Send <%= @bet.amount %> satoshis to:</h>

<%= link_to image_tag("http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=#{@bet.you}&chld=H|0"), "bitcoin:" + @bet.you %>

<p class="address"><%= @bet.you %></p>

<p>An email will be sent to <b><%= @bet.judge %></b> to be the judge once you and your friend have sent the bitcoins!</p>