<% if @bet.errors.any? %>
  <p><%= @bet.errors.full_messages.join(', ') %></p>
<% end %>

<%= form_for @bet do |form| %>
  <p class="desc"><%= form.label :description %></p> <%= form.text_area(:description, cols: 20, rows: 40) %>
  <p><%= form.label :you %> <%= form.text_field :you %></p>
  <p><%= form.label :friend %> <%= form.text_field :friend %></p>
  <p><%= form.label :judge %> <%= form.text_field :judge %></p>
  <p><%= form.submit "Place bet" %></p>
<% end %>
