<%= form_for @bet do |form| %>
  <!--<p><%= form.label :description %> <%= form.text_field :description %></p>-->
  <!--<p><%= form.label :amount %> <%= form.text_field :amount %></p>-->
  <p class="desc"><%= form.label :description %></p> <%= text_area(:post, :body, cols: 20, rows: 40) %>
  <p><%= form.label :you %> <%= form.text_field :you %></p>
  <p><%= form.label :friend %> <%= form.text_field :friend %></p>
  <p><%= form.label :judge %> <%= form.text_field :judge %></p>
  <p><%= form.submit "Place bet" %></p>
<% end %>
